Win32
Win64
OSX32
__history
*.~*
*.cbk
*.cfg
*.dcp
*.dcpil
*.ddp
*.drc
*.dsk
*.dsm
*.map
*.rsp
*.dproj.local
*.identcache
*.tvsconfig
*.bak
*.tmp
*.temp
*.log
thumbs.db
*.scc
*.a
*.o
*.dcu
*.exe
*.dll
.sonar

